@model Model.DtoModels.ExpenseDtoModels.ExpenseDto

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary text-white text-left">
            <h6>Expense Create</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Date"></label>
                                    <input asp-for="Date" class="form-control" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group text-right">
                            <input type="button" title="Add Item" value="Add Item" class="btn btn-outline-primary btn-width" data-toggle="modal" data-target="#addExpDetailModal" />
                        </div>

                        <div class="form-group">
                            <div class="table-responsive">
                                <table id="ExpenseDetail" class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        <th>
                                            Item Name
                                        </th>
                                        <th>
                                            Unit Price
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                        <th>
                                            Total Price
                                        </th>
                                        <th>
                                            Discount
                                        </th>
                                        <th>
                                            Note
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group text-right">
                            <input type="submit" value="Create" class="btn btn-success btn-width" />
                            <a asp-action="Search">
                                <input type="button" value="List" class="btn btn-info btn-width" />
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AddExpDetailModal -->
<div class="modal fade" id="addExpDetailModal">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white text-left">
                <h6>Add Item Details</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                Modal body..
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-width">Add</button>
                <button type="button" class="btn btn-danger btn-width" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- AddExpDetailModal -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}