@model Model.DtoModels.ExpenseDtoModels.ExpenseItemDto
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary text-white text-left">
            <h6>Expense Item Create</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span id="NameExist" asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UnitPrice"></label>
                            <input asp-for="UnitPrice" class="form-control" />
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success btn-width" />
                            <a asp-action="Search"><input type="button" value="List" class="btn btn-info btn-width" /></a>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var $ = jQuery.noConflict(true);
        $(document.body).on("change", "#Name", function () {
            var id = 0;
            var value = $(this).val();
            var param = { name: value, id: id };
            var url = "/ExpenseItem/IsExpItemNameExist";
            $.post(url, param, function (rData) {
                if (rData === true) {
                    var msg = "Sorry, This " + value + " name already exist!";
                    $('#NameExist').text(msg);
                    return;
                }
            });
        });
    </script>


}
